@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400&display=swap");
.App {
  text-align: center;
}
body {
  background-color: #fffae6;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.started-button {
  color: #fffae6;
  background-color: black;
  border: 1px solid transparent;
}
.started-button:hover {
  color: black;
  background-color: #fffae6;
  border-color: black;
}

.register-button {
  border: 1px solid transparent;
  border-color: black;
  background-color: #fffae6;
}

.calculate-input {
  background-color: #fffae6;
}

.header-title:hover {
  color: rgb(105, 105, 105);
}

.buy-button {
  background-color: rgb(0, 70, 0);
  color: #fffae6;
}

.buy-button:hover {
  border: 1px solid rgb(0, 70, 0);
  background-color: #fffae6;
  color: rgb(0, 70, 0);
}

.giveup-button {
  background-color: rgb(155, 3, 3);
  color: #fffae6;
}

.giveup-button:hover {
  border: 1px solid rgb(155, 3, 3);
  background-color: #fffae6;
  color: rgb(155, 3, 3);
}

.table-search {
  background-color: #fffae6;
  border: 1.5px solid rgb(17 24 39);
  border-radius: 0.375rem;
}

.search-button {
  color: #fffae6;
  border: 1.5px solid rgb(17 24 39);
  border-radius: 0.375rem;
  background-color: rgb(17 24 39);
}

.bg-color {
  background-color: #fffae6;
}
